<?xml version="1.0"?>
<robot name="differential_wheeled_robot" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find robot_description_pkg)/urdf/wheel.urdf.xacro" />
<xacro:property name="M_PI" value="3.1415926535897931" />
<xacro:property name="M_PI_2" value="1.570796327" />
<xacro:property name="DEG_TO_RAD" value="0.017453293" />
  
<xacro:property name="base_length" value="0.4"/>
<xacro:property name="base_breadth" value="0.4"/>
<xacro:property name="base_height" value="0.1" />
<xacro:property name="wheel_radius" value="0.07"/>
<material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
</material>
<link name="base_footprint">
    <inertial>
      <mass value="0.0001" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
          iyy="0.0001" iyz="0.0" 
          izz="0.0001" />
    </inertial>
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.001 0.001 0.001" />
        </geometry>
    </visual>
  </link>

  <gazebo reference="base_footprint">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
  <joint name="base_footprint_joint" type="fixed">
    <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
</joint>
<link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <box size="${base_length} ${base_breadth} ${base_height} " />
      </geometry>
      <material name="White" />
    </visual>
</link>  
<wheel fb="front" lr="right" parent="base_link" translateX="0.13" translateY="-0.235" flipY="1"/>
<wheel fb="front" lr="left" parent="base_link" translateX="0.13" translateY="0.235" flipY="1"/>
<wheel fb="back" lr="right" parent="base_link" translateX="-0.13" translateY="-0.235" flipY="1"/>
<wheel fb="back" lr="left" parent="base_link" translateX="-0.13" translateY="0.235" flipY="1"/>
</robot>